* {
    font-family: 'Rubik', sans-serif, arial, Helvetica;
}


@media (max-width: 600px)
{
    .mobile-flex
    {
        display: flex !important;
    }

    .mobile
    {
        display: block !important;
    }

    .no-mobile
    {
        display: none !important;
     }

     .no-mobile-flex
     {
          display: none !important;
     }
    .redes-sociais{
       text-align: center;
       margin-left: 0!important;
       margin-right: 0!important;
    }
}

@media (min-width: 600px)
{
    .mobile
    {
         display: none !important;
    }
   .no-mobile
    {
         display: block !important;
    }

    .no-mobile-flex
    {
         display: flex !important;
    }
    .container{
        width: 63.75rem;
    }
}




body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    color: var(--bs-grey-dark);
}

.corpo-site{
    height: 100%!important;
    min-height: 0;
    background-color: #f9ad29;
}


.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}


.bg-success{
    background-color: #bed8bf!important;
}


.bg-danger{
    background-color: #e0a8a8!important;
}

.navbar-toggler:focus {
    box-shadow: none!important;
}

.card{
    border:none;
    min-height: 47vh;
}

.obrigado{
    background-color: #81c683;
    padding: 60px;
    margin-top: 80px;
    height: 430px;
}

.obrigado .msg{
    text-align: center!important;
    color: #daecef;

}

a.contato{
    margin-top: 4px;
    background-color:#F9AD29;
    text-transform: uppercase;
    height: 42px;
    width: 42px;
}
a.contato:hover{
    background-color: #f5ce2d;
}


#navbar{
    justify-content: space-between;
    background-color: var(--bs-white-dark);
    padding: 5px 60px 5px 60px;
}


footer{
    text-align: center;
    background-color:#F9AD29;
    padding: 20px;
    width: 100%;
    color:#4f3200;
    position: absolute;
    z-index: 0;
}

input[type="file"] {
    display: none;
}

label.upload{
    background-color: #fefefe;
}

label.upload:hover{
    color: #F9AD29;
}

.titulo-home{
    color: #fff;
}

.btn-form-home{
    background-color: #eee;
    border-radius: 35px;
}

form.contact-site{
    background-color: #F9AD29;
    height: 100%;
}

form.contact-site input{
    border: none;
    border-bottom: 1px solid #ccc;
}

footer .copy a{
    color:#4f3200;
    margin-top: 10px;
}
footer .copy {
    margin-top: 10px;
    margin-bottom: 0px;
    color:#4f3200;
}

td, th{
    vertical-align: middle;
}


/* ADMIN */
.sessao-titulo-admin{
    text-align: center;
    padding: 10px;
}

